# database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=course-platform-video

# other settings

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = qsdf
CLERK_SECRET_KEY = qsfd
CLERK_WEBHOOK_SECRET = qsfd

ARCJET_KEY = qsfd
TEST_IP_ADDRESS = qsfd
STRIPE_PPP_50_COUPON_ID = qsfd
STRIPE_PPP_40_COUPON_ID = qsfd
STRIPE_PPP_30_COUPON_ID = qsfd
STRIPE_PPP_20_COUPON_ID = qsfd
STRIPE_SECRET_KEY = qsfd
STRIPE_WEBHOOK_SECRET = qsfd

# NEXT_PUBLIC_CLERK_SIGN_IN_URL = qsdf
# NEXT_PUBLIC_CLERK_SIGN_UP_URL = qsdf
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY = qsdf
# NEXT_PUBLIC_SERVER_URL = qsdf
